header.major {
	padding-bottom: 3em;
}

header h2 {
	font-size: 2.5em;
}

header .byline {
	font-size: 1.35em;
}

/* Wrapper */

	.wrapper.style3 {
		padding: 2em 0em 3.6em 0em;
	}

		.wrapper.style3 span {
			font-size: 1.6em;
		}

		.wrapper.style3 .button {
			padding: 1.3em 3em;
		}

/* Header */

	#header {
		padding: 4em 0;
	}

	.homepage #header {
		padding: 6em 0;
	}

/* Banner 

	#banner {
		padding: 3em 0 0 0;
	}

		#banner .major h2 {
			font-size: 2.75em;
		}

		#banner .major .byline {
			font-size: 1.35em;
		}*/

/* Footer */

	#footer .major h2 {
		font-size: 1.5em;
	}
	
#content {width:1024px; margin:0 auto; background:url(../images/bg.jpg) 0 0 repeat; padding-bottom:49px; border-bottom:#303030 1px solid;}
	
.page1-row1 {overflow:hidden; padding-top:36px; }
.col-1 {float:left; width:190px; margin-right:50px;}
.col-2 {float:left; width:460px; margin-right:60px;}
.col-3 {float:left; }	

.soc-icons {overflow:hidden; margin:17px 0 0 0;}
.soc-icons a {display:block; width:45px; height:45px; float:left; margin-right:2px;}
.soc-icons a:hover img {opacity:0.7;}

.page2-row1 {overflow:hidden; padding-top:26px; padding-bottom:41px; }
.col-4 {float:left; width:570px; margin-right:70px;}
.col-5 {float:left; width:300px; }

.page2-row2 {overflow:hidden; }
.col-6 {float:left; width:570px; padding-right:30px; margin-right:20px; border-right:#303030 1px solid;}
.col-7 {float:left; width:320px; }

.page3-row1 {overflow:hidden; padding-top:26px; }
.col-8 {float:left; width:190px; padding-right:50px;}
.col-9 {float:left; width:744px; }

.page4-row1 {overflow:hidden; padding-top:26px; }
.col-10 {float:left; width:300px;  margin-right:60px; }
.col-11 {float:left; width:580px;}

.page5-row1 {overflow:hidden; padding-top:26px; }
.col-12 {float:left; width:600px;  margin-right:79px; }
.col-13 {float:left; width:265px;}

.page6-row1 {overflow:hidden; padding-top:26px; }
.col-14 {float:left; width:270px;  margin-right:50px; }
.col-15 {float:left; width:273px; margin-right:89px; }
.col-16 {float:left; width:260px; }
	