@charset "utf-8";
/* CSS Document */
  body {
	color: #98b4b0;
	background-color: #201815;
	font: 18px/24px "Times New Roman", Times, serif
	}
    a {	color: #98b4b0; 
			font: 18px/24px "Times New Roman", Times, serif
		}
 